@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Lato', 'sans-serif';
    font-size: medium;
}
.custom-button{
    position: absolute;
    top: 5px;
    right: 3px;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}
small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}