$color-primary-dark: #b68d4c;
$color-primary-light: #282623;
$color-secondary: #8fbc8f;
$color-darkest: #000;
$color-lightest: #fff;
$color-shadow: #808080;
$font: verdana, sans-serif;
$color-highlight: #6ac045;
$white: #ffffff;
$black: #000000;
