$color-primary-dark: #b68d4c;
$color-primary-light: #f3e2c7;
$color-secondary: #8fbc8f;
$color-darkest: #000;
$color-lightest: #fff;
$color-shadow: #808080;
$color-yellow: #FFEB3B;
$color-orange: #ff5722;
$font:verdana,
sans-serif;
$custom-font: sans-serif;