@import '../../styles/themeStyles';

body {
  background-color: $color-lightest;
  font: $font;
  margin: 10px;

  header {
    text-align: center;
  }
  .app-title{
    font-family: $font;
    color: $color-shadow;
  }
  .page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
  }
  .movieListWrapper {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    background: #eee;
    padding: 1rem;
    border: 1px solid #ccc;

    .poster {
      height: 100px;
      width: 100px;
    }
  }
  
  .detailContentWrapper {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 0.5rem;
    background: $color-primary-light;
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .detailcontentLabel {
      display: flex;
      flex-basis: 50%;
      font-weight: bold;
      justify-content: left;
      color: $color-darkest;
    }
    .detailcontent {
      display: flex;
      flex-basis: 50%;
      text-align: left;
      color: $color-darkest;
    }

    .detailbanner {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  .banner-img{
    background: transparent;
  }
}
