.card {
   border-radius: 8pt;
   border-style: none;
   overflow: hidden;
   transform: scale(0.8);
   margin-top: -60px;
   .card-header {
      background: none;
      padding: 0;
      position: relative;
      border-style: none;
      .card-img {
         height: 13rem;
      }
   }
   .card-body {
      position: relative;
      color: rgb(224, 242, 247);
      .card-p {
         font-size: 14px;
         p {
            margin-top: 0;
            margin-left: 10px;
         }
      }
      .card-title {
         font-weight: 600;
      }
      .card-text {
         margin-top: 8px;
         font-weight: 600;
      }
   }
}
